@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Security Training .NET</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Actions</h2>
        <p>
            Available actions for the logged in user.
        </p>
        <ol>
            <li>@Html.ActionLink("Add customer", "AddCustomer", "Customer")</li>
            <li>@Html.ActionLink("Add order for contact", "AddOrderForContact", "Order")</li>
            <li>@Html.ActionLink("Add order for sales", "AddOrderForSales", "Order")</li>
        </ol>
        <p></p>
    </div>
</div>